* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s ease-out;
}
@font-face {
  font-family: 'Minecraft rus';
  src: url('fonts/Minecraft-rus.otf') format('truetype');
}

body, html {
  height: 100%;
  background-color: rgb(16, 16, 16);
  font-size: 4vw;
}

.container {
    justify-content: space-evenly;
    align-items: flex-end;
    display: flex;
    position: relative;
    width: 30vw;
    height: 30vw;
}
b{
  color: #ff7000;
}
.block{
    margin-top: 3.5vw;
    text-align: center;
    color: white;
    padding: 20px;
    width: 100%;
    font-size: 2vw;
    font-family: 'Minecraft rus', sans-serif;
}

.circle {
  font-size: 6vw;
  font-family: 'Minecraft rus', sans-serif;
  margin-top: 10vw;
  margin-left: 70vw;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 1vw solid #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news{
    display: block;
    background-color: #07210021;
    margin-top: 10vw;
    text-align: justify;
    color: white;
    font-size: 1vw;
    font-family: 'Minecraft rus', sans-serif;
    justify-items: center;
}
.news-items{
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: auto auto;

    justify-content: center;
    align-items: start;
    justify-items: center;
}
.news-item{
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 20%;
    position: relative;
    padding: 20px;
    max-width: 45vw;
}
.news-item:hover{
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25%;
}

header{
  top: 0px;
  z-index: 5;
  position: fixed;
  padding: 2px;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2.5px);
  font-family: 'Minecraft rus', sans-serif;
}
a{
    color: #00b5ff;
}
a:hover{
    color: #ff7000;
}
header>img{
    margin-left: 1px;
    margin-right: 15px;
}
.mix{
    z-index: -1;
    display: flex;
    position: absolute;
    top: 90%;
    mix-blend-mode: lighten;
    height: 50vw;
    max-width: 100%;
}
.name{
    font-size: 1.5vw;
    color: #ff7000;
}
.cent{
    margin-top: 2px;
    font-size: 1vw;
    margin-left: 5vw;
    color: white;
    text-align: center;
}
footer{
    color: darkgrey;
    text-align: center;
    padding: 2%;
    margin-top: 10%;
    font-size: 8pt;
}

.water {
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 0; /* Изначальная высота — обновляется в JS */
  background-color: red; /* Изначальный цвет */
  transition: height 1s cubic-bezier(0.34, 0.38, 0.64, 1.12), background-color 1s ease-in-out;
  animation: wave 4s infinite cubic-bezier(0.46, 0.26, 0.72, 0.89);
  box-shadow: inset 0 8px 15px rgba(16, 16, 16, 0.2);
}

@keyframes wave {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.percentage {
    -webkit-font-smoothing: antialiased; /* Сглаживание для WebKit */
    -moz-osx-font-smoothing: grayscale; /* Сглаживание для Firefox */
animation: fadeIn 0.5s ease-out forwards;
  position: absolute;
  color: #fff;
  text-shadow: 0 4px 20px rgba(255, 255, 255, 0.75);
}

@media (orientation: landscape){
    header>img{
        height: 2vw;
        width: 2vw;
    }
}
@media (orientation: portrait){
    header{
        position: static;
    }
    .mix{
        display: none;
    }
    .news{
        font-size: 2.5vw;
        text-align: center;
    }
    .news-items{
    grid-template-columns: auto;
    }
    .news-item{
        border: none;
        max-width: 90vw;
        padding: 10px;
    }
    .news-item:hover{
        border: none;
    }
    header{
        height: 7vw;
    }
    header>img{
        height: 6vw;
        width: 6vw;
    }
    .name{
        font-size: 5vw;
        color: #ff7000;
    }
    .cent{
        font-size: 3vw;
    }

}

